body{
    overflow: hidden;
}

#map{
    width: 100%;
    height: 630px;
    /*position:absolute;*/
}


.panel.bottom.right{
    position:absolute;
    right: 0px;
    bottom: 0px;
    /*width: 598px;*/
    /*height: 134px;*/
}
.panel.bottom.right a{
    /*width: 60px;*/
    /*height: 60px;*/
    padding-right: 4px;
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    display:inline-block;
    cursor: pointer;
}
.panel.bottom.right a:hover{
    background-color: rgba(160,207,133,0.8);
}

.panel, .sidebar{
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}

.sidebar.left{
    position: absolute;
    display: inline-block;
    left:0px;
    top:0px;
    width: 288px;
    height: 100%;
    color: #a0cf85;
    font-family: "Myriad Pro", "Verdana";
    padding: 0px 0px 0px 10px;
    
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    border-right: #cccccc thin solid;
    
}

.sidebar.left h3{
    pointer-events: none;
}

.sidebar.left .ui-navigation-group a{
    display: inline-block;
    font-size: 2em;
    margin: 19pt 0px 19pt 20px;
    /*line-height: 68pt;*/
    width: 268px;
    cursor: pointer;
}
.sidebar.left .ui-navigation-group a:hover, .sidebar.left .ui-navigation-group a:active{
    color: #0078a8;
    text-style: underline;
}

.sidebar.left div.controls{
    padding: 6px 4px 0px 0px;
    height: 14px;
}
.sidebar.left div.controls a{
    float: right;
}


.sidebar-float{
    position: absolute;
    top: 20px;
    /*left: 288px;*/
    left: 290px;
    max-width: 900px;
    max-height: 620px;
    overflow: auto;
    background-color: rgba(160, 207, 133, 0.8);
}

.sidebar-float.panel-document{
    
}

.floating-page img{
    width: 180px;
    margin-top: 24px;
}

.floating-page .content{
    /*margin: 30px 20px 30px 30px;*/
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
}

.floating-page .content img{
    width: 320px;
    vertical-align: middle;
}

.floating-page div.left, .floating-page div.right{
    min-width: 350px;
    max-width: 450px;
}

.floating-page div.picturebox{
    width: 200px;
    text-align: center;
}



.icon+div{
    display: inline-block;
}

.icon.main-crop{
    background-image: url("images/potato.jpg");
}

.icon.odop-crop{
    background-image: url("images/kiwifruit.jpg");
}

.icon.special-crop{
    background-image: url("images/spinach.jpg");
}

.icon{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    margin: 4px 0px 4px 4px;
    /*float: right;*/
}

.panel-control-icon{
    width: 10px;
    height: 20px;
    display: inline-block;
    font-family: "Verdana";
    color: #306630;
    text-shadow: 0px 0px 6px #ffffff, 0px 0px 4px #ffffff, 0px 0px 2px #ffffff;
}

a.panel-control-button:hover .panel-control-icon{
    text-shadow: 0px 0px 6px #ffffff, 0px 0px 4px #ffffff, 0px 0px 4px #ffffff, 0px 0px 2px #000000;
}

a.panel-control-button{
    position: absolute;
    right: 6px;
    text-align: right;
    cursor: pointer;
}

.icon-location-marker div{
    /*position: relative;*/
    width: 120px !important;
    height: auto !important;
    text-align: center;
    overflow: hidden;
}

.icon-location-marker a{
    position: absolute;
    background-color: rgba(160,207,103,0.8);
    bottom:0px;
    color: #ffffff;
    font-family: "Verdana";
    font-size: 10pt;
    width: 124px;
    left:0px;
}

.icon-location-marker{
    width: auto !important;
    height: auto !important;
    background-color: rgba(160,207,103,0.8);
    padding: 3px;
    top: -110px;
    left: -60px;
    text-align: center;
}
.icon-location-marker div:after{
    content: "";
    position: absolute;
    bottom: -15px;
    border-width: 15px 15px 0;
    border-style: solid;
    /*width: 50px;*/
    left: 45px;
    border-color: rgba(160,207,103,0.8) transparent;
}

.icon-location-marker img{
    width: 120px;
}

/*.leaflet-left{
    display:none;
}*/

#mapBox{
    width:100%;
    height: 100%;
    margin: 0px;
}
